.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
}
.smallerContainer {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
}
/* Header Styles */
header {
  width: 100%;
  height: 387px;
  background-color: #0020f4;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}
ul {
  display: flex;
  align-items: center;
}
ul li {
  margin-left: 50px;
  color: #ffffff;
}
li:last-child {
  background-color: #ffffff;
  border-radius: 28px;
  padding: 18px 43px 18px 36px;
  color: #171717;
}
/* Main Section Styles */
.mainImage {
  margin-top: -172px;
}
.smallerContainer h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imgWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.txtWrapper p {
  width: 951px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 18px;
}
.seeMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 180px;
}
.seeMore {
  padding: 18px 77px 18px 57px;
  color: #ffffff;
  font-size: 16px;
  background-color: #0020f4;
  border: none;
  border-radius: 28px;
}
/* Footer Styles */
footer {
  background-color: #0a22f4;
  height: 1080px;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
}
.info h4 {
  padding-top: 275px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 32px;
}
.info p {
  width: 463px;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 58px;
}
iframe {
  border-radius: 15px;
}
.contact {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.phone,
.mail {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.phone div,
.mail div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  border: #0a22f4 solid 1px;
  width: 70px;
  height: 70px;
}
.phone span,
.mail span {
  margin-left: 20px;
  font-size: 22px;
  color: #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 375px;
}
label {
  font-size: 16px;
  color: #ffffff;
}
input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: #4154f6 solid 1px;
  width: 463px;
  height: 60px;
  margin-bottom: 40px;
}
